<%- include('header.ejs') %>


<section id="home">
<div class="main">

    <div class="item">
      <img class="imgMain" src="https://static.itdg.com.br/images/auto-auto/b9c5e1f42b2c0bfcac06171f3033c274/caloria-dos-drinks-famosos.jpg" alt="">
    </div>
    <div class="item">
      <p 
      style="font-weight: bold;
      font-size: large;"
      >Raise your glass and get ready to dive into the world of cocktails! Cocktails are not just drinks; they are a blend of flavors, artistry, and a touch of magic. In this website, we have compiled a list of cocktail ingredient that will inspire you to celebrate the creativity and allure of mixology.</p>
     <h3>~ Mathonsi Surprise</h3>
    
    </div>
</div>

</section>

<section id="cocktails">

    <h2>Cocktails World</h2>
    <hr>
  
  <form action="/" method="post">

    <input type="text" required placeholder="Search by letter" name="letter" 
   
    >
    <button type="submit">SEARCH</button>
  </form>
    

    <%if(locals.data1){ %>
    <div class="mainCocktailBox">
        <% for(let index = 1 ; index < data1.drinks.length; index++ ){ %>
        <div class="mainCocktailItem">
            <div class="itemTitle"><h3><%= data1.drinks[index].strDrink %></h3></div>
            <div class="alcoholic"><h4><%= data1.drinks[index].strAlcoholic %></h4></div>
            <div class="itemPic"><img class="itemPic1" src=<%=data1.drinks[index].strDrinkThumb %> alt=""> </div>
            <div class="itemIngr">
                <h3>Ingredients</h3>
                   <%for (let index1 = 1; index1 < 11; index1++) { %>
                
                <% let words= "strIngredient"+index1 %>
                 <% if(data1.drinks[index][words] != null) {%>
                    <li style="list-style-type: none; padding: 1px; margin: 0;">
                <ul style="margin: 0;padding: 1px;"> <%= data1.drinks[index][words] %> </ul>
            </li>
                 <% }%>
                <% }%> 
            </div>
            <div class="itemMore">
                <h5>Instruction</h5>
                <p><%= data1.drinks[index]['strInstructions'] %></p> </div>

        </div>
        
        <% }%> 
    </div>
    <% }else { %>
        <h2 style="color: red; margin-bottom: 20px;">Please only type a single letter to search</h2>
   <% } %>
  
</section>



<%- include('footer.ejs') %>